

.container{
  margin-top: 6%;
  margin-bottom: auto;
  margin-right: auto;
  margin-left:auto ;
  width: 50%;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgb(87, 87, 87);
  padding: auto;
  color: white;
}

.add-btn{
  float: right;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 33px;
  font-size:auto;
  height: auto;
  width: auto;
  padding: auto;  

}

.input{
  height: auto;
  width: auto;
  font-size: larger;
  border-radius: 7px;
  border: 1px solid black;
  padding: 3px;
}


.butt{
  float: right;
  font-size: larger;
  height: auto;
  border-radius: 7px;
  border: 1px solid black;
  padding: 3px;
}

.check{
 transform: scale(1.5);
  height: auto;
  margin-right: auto;
}